@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;1,500&family=Titan+One&display=swap');


.title{
  font-family: 'Titan One', cursive;
  font-size: 20px;
}

*{
    font-size: 25px;
    margin: auto;
}

/*IPAD*/
@media screen and (min-width: 769px) and (max-width: 1279px) {
    .img{
        width: 220px;
        margin-top: 1em;
    }
  }

  /*PANTALLAS*/
  @media screen and (min-width: 1279px){
    .img{
        width: 300px;
        margin-top: 2em;
    }
  }

  /*MOVILES*/
  @media screen and (max-width: 769px) {
    .img{
        width: 130px;
        margin-top: 1em;
    }
  }


@font-face {
  font-family: "OpenDyslexic3Regular";
  src: local("OpenDyslexic3Regular"), url(../../../../assets/fonts/OpenDyslexic-Regular.otf) format("truetype");
}

.dyslexia{
  font-family: 'OpenDyslexic3Regular'!important;
  font-weight: normal;
  font-style: normal;
}

.biggerCursor{
  cursor: url('../../../../assets/cursor(1).png'), auto!important;/*hay imitaciones en cuanto al tamaño de los cursores*/
}

.spacing{
  letter-spacing: 3px!important;
}
