<div
  class="row content mt-5"
  [ngClass]="{ dyslexia: dyslexia, biggerCursor: cursor, spacing: spacing }"
>
  <!--NON-SMOKING DATA-->
  <div class="col-md-12 col-lg-4  col-12 card card1">
    <div class="card-body">
      <h5
        class="card-title titulo-card"
        [ngClass]="{
          dyslexia: dyslexia,
          biggerCursor: cursor,
          spacing: spacing
        }"
      >
        Smokeless data
      </h5>
      <h6 class="card-subtitle mb-2 text-muted">
        Check your non-smoking tracking
      </h6>
      <hr />
      <div class="card-text">
        <p
          [ngClass]="{
            dyslexia: dyslexia,
            biggerCursor: cursor,
            spacing: spacing
          }"
        >
          Days in a row without smoking: {{ user.daysInARowWithoutSmoking }}
        </p>
        <p
          [ngClass]="{
            dyslexia: dyslexia,
            biggerCursor: cursor,
            spacing: spacing
          }"
        >
          Cigarettes avoided: {{ user.cigarettesAvoided }}
        </p>
        <p
          [ngClass]="{
            dyslexia: dyslexia,
            biggerCursor: cursor,
            spacing: spacing
          }"
        >
          Total time without smoking: {{ user.totalTimeWithoutSmoking }} days
        </p>
        <p
          [ngClass]="{
            dyslexia: dyslexia,
            biggerCursor: cursor,
            spacing: spacing
          }"
        >
          Money saved: {{ user.moneySaved }}€
        </p>
      </div>
    </div>
  </div>
  <!--FAILED DAYS-->
  <div class="col-md-12 col-lg-3 card card2">
    <div class="card-body">
      <h5
        class="card-title titulo-card"
        [ngClass]="{
          dyslexia: dyslexia,
          biggerCursor: cursor,
          spacing: spacing
        }"
      >
        Smoky data
      </h5>
      <h6
        class="card-subtitle mb-2 text-muted"
        [ngClass]="{
          dyslexia: dyslexia,
          biggerCursor: cursor,
          spacing: spacing
        }"
      >
        Check your failures
      </h6>
      <hr />
      <div class="card-text">
        <p
          [ngClass]="{
            dyslexia: dyslexia,
            biggerCursor: cursor,
            spacing: spacing
          }"
        >
          Days you failed: {{ user.smokingDays }}
        </p>
        <p
          [ngClass]="{
            dyslexia: dyslexia,
            biggerCursor: cursor,
            spacing: spacing
          }"
        >
          Cigarettes you smoked: {{ user.cigarettesSmoked }}
        </p>
      </div>
    </div>
  </div>
  <!--FORMER SMOKER DATA-->
  <div class="col-md-12 col-lg-3 card card3">
    <div class="card-body">
      <h5
        class="card-title titulo-card"
        [ngClass]="{
          dyslexia: dyslexia,
          biggerCursor: cursor,
          spacing: spacing
        }"
      >
        Former smoker data
      </h5>
      <h6
        class="card-subtitle mb-2 text-muted"
        [ngClass]="{
          dyslexia: dyslexia,
          biggerCursor: cursor,
          spacing: spacing
        }"
      >
        Check your previous data as a smoker
      </h6>
      <hr />
      <div *ngIf="!modificando; else elseBlock">
        <div class="card-text">
          <p
            [ngClass]="{
              dyslexia: dyslexia,
              biggerCursor: cursor,
              spacing: spacing
            }"
          >
            Money spent per day: {{ user.moneyPerDay }}€
          </p>
          <p
            [ngClass]="{
              dyslexia: dyslexia,
              biggerCursor: cursor,
              spacing: spacing
            }"
          >
            Cigarettes per day: {{ user.cigarettesBeforePerDay }}
          </p>
        </div>
        <!--Botón para modificar datos iniciales-->
        <div class="text-center">
          <button class="btn boton mt-3" (click)="showInputs()">EDIT</button>
        </div>
      </div>
      <ng-template #elseBlock>
        <div class="card-text">
          <label
            for="money"
            [ngClass]="{
              dyslexia: dyslexia,
              biggerCursor: cursor,
              spacing: spacing
            }"
            >Money spent per day:</label
          ><input
            [ngClass]="{
              dyslexia: dyslexia,
              biggerCursor: cursor,
              spacing: spacing
            }"
            [(ngModel)]="money"
            type="number"
            name="money"
            min="1"
          />
          <label
            for="cigarettes"
            [ngClass]="{
              dyslexia: dyslexia,
              biggerCursor: cursor,
              spacing: spacing
            }"
            >Cigarettes per day:</label
          ><input
            [ngClass]="{
              dyslexia: dyslexia,
              biggerCursor: cursor,
              spacing: spacing
            }"
            [(ngModel)]="cigarettes"
            type="number"
            name="cigarettes"
            min="1"
          />
        </div>
        <div class="text-center mt-2">
          <button class="btn boton" (click)="changeExSmokerData()">OK</button>
        </div>
      </ng-template>
    </div>
  </div>
</div>

<!--Botón para resetear datos recogidos-->
<div class="text-center mt-3">
  <button
    [ngClass]="{ dyslexia: dyslexia, biggerCursor: cursor, spacing: spacing }"
    class="btn boton"
    data-bs-toggle="modal"
    data-bs-target="#exampleModalReset"
  >
    RESET
  </button>
  <!--MODAL-->
  <div
    class="modal fade"
    id="exampleModalReset"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content text-center">
        <div class="modal-header">
          <h5
            class="modal-title"
            id="exampleModalLabel"
            [ngClass]="{
              dyslexia: dyslexia,
              biggerCursor: cursor,
              spacing: spacing
            }"
          >
            Are you sure you want to reset all your collected data until now?
          </h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div
          class="modal-body"
          [ngClass]="{
            dyslexia: dyslexia,
            biggerCursor: cursor,
            spacing: spacing
          }"
        >
          It means that you'll set all these data to zero so you can start all
          over again
        </div>
        <div class="modal-footer justify-content-center">
          <button
            type="button"
            class="btn btn-danger botonNo"
            data-bs-dismiss="modal"
            [ngClass]="{
              dyslexia: dyslexia,
              biggerCursor: cursor,
              spacing: spacing
            }"
          >
            No
          </button>
          <button
            [ngClass]="{
              dyslexia: dyslexia,
              biggerCursor: cursor,
              spacing: spacing
            }"
            type="button"
            class="btn btn-primary botonYes"
            data-bs-dismiss="modal"
            (click)="reset()"
          >
            Yes
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
