<h1 class="text-center m-auto title mb-3" [ngClass]="{ dyslexia: dyslexia, biggerCursor: cursor, spacing: spacing }">General Data</h1>
<!--FOTO + name-->
<div class="row text-center card mt-3">
  <div class="card-body">
    <div class="foto">
      <div>
        <img class="photo img-responsive" src="{{ user.imageUrl }}"  width="300" height="150" />
      </div>
      <!--Subida de imagen - drag and drop-->
      <div>
        <button class="btn btn-primary boton" (click)="changeImg()" [ngClass]="{ dyslexia: dyslexia, biggerCursor: cursor, spacing: spacing }">Change Profile Image</button>
      </div>
      <div *ngIf="change">
        <ngx-dropzone
          [multiple]="false"
          (change)="onSelect($event)"
          class="dropzone justify-content-center"
        >
          <ngx-dropzone-label [ngClass]="{ dyslexia: dyslexia, biggerCursor: cursor, spacing: spacing }">Select a profile picture</ngx-dropzone-label>
          <ngx-dropzone-image-preview
            ngProjectAs="ngx-dropzone-preview"
            class="dropSelect"
            *ngFor="let f of files"
            [file]="f"
            [removable]="true"
            (removed)="onRemove(f)"
          >
          </ngx-dropzone-image-preview>
        </ngx-dropzone>
        <div>
          <button class="btn btn-dark" (click)="onUpload()" [ngClass]="{ dyslexia: dyslexia, biggerCursor: cursor, spacing: spacing }">Upload</button>
        </div>
      </div>
      <div  [ngClass]="{ dyslexia: dyslexia, biggerCursor: cursor, spacing: spacing }" class="h3 mt-3 name">{{ user.name }} {{ user.lastName }}</div>
    </div>
  </div>

  <!--Data-->
  <div class="row text-center divInferior">
    <div class="data mb-3" [ngClass]="{ dyslexia: dyslexia, biggerCursor: cursor, spacing: spacing }">
      <!--email-->
      <div  [ngClass]="{ dyslexia: dyslexia, biggerCursor: cursor, spacing: spacing }">
        <img
          src="../../../../assets/correo-electronico-vacio.png"
          alt="User email"
          class="icon"
        />
        {{ user.email }}
      </div>
      <!--start date-->
      <div [ngClass]="{ dyslexia: dyslexia, biggerCursor: cursor, spacing: spacing }">
        <img
          src="../../../../assets/calendar(1).png"
          alt="User email"
          class="icon"
        />
        {{ user.startDate }}
      </div>
      <!--username-->
      <img src="../../../../assets/account.png" alt="User email" class="icon" />
      {{ user.username }}
    </div>
  </div>
</div>
