<h2 class="text-center my-5" [ngClass]="{
  dyslexia: dyslexia,
  biggerCursor: cursor,
  spacing:spacing
}" >
  Hi, {{ nombre }}! Set your ex-smoker information to complete your profile
</h2>

<form [ngClass]="{
  biggerCursor: cursor
}" >
  <!--Ranges-->
  <div class="row gx-0">
    <!--CIGARETTES PER DAY-->
    <div class="form-group text-center col-md-6">
      <label for="formControlRange" class="" [ngClass]="{
        dyslexia: dyslexia,
        spacing:spacing,
        biggerCursor: cursor
      }">Cigarettes per day</label>
      <div class="cigDay">
        <div class="number mb-3" [ngClass]="{
          dyslexia: dyslexia,
          spacing:spacing,
          biggerCursor: cursor
        }" >
          {{ cigarettesBeforePerDay }}
        </div>
        <input  [ngClass]="{
          biggerCursor: cursor,
          dyslexia: dyslexia,
          spacing:spacing
        }"
          type="number"
          [(ngModel)]="cigarettesBeforePerDay"
          name="cigarettesBeforePerDay"
          class="form-control-range"
          id="cigarettesBeforePerDay"
        />
      </div>
    </div>
    <!--MONEY PER DAY-->
    <div class="form-group text-center col-md-6">
      <label for="formControlRange" [ngClass]="{
        dyslexia: dyslexia,
        spacing:spacing,
        biggerCursor: cursor
      }">Money per day</label>
      <div class="mony">
        <div class="number mb-3" [ngClass]="{
          dyslexia: dyslexia,
          spacing:spacing,
          biggerCursor: cursor
        }" >
          {{ moneyPerDay }}
        </div>
        <input [ngClass]="{
          dyslexia: dyslexia,
          spacing:spacing,
          biggerCursor: cursor
        }"
          type="number"
          [(ngModel)]="moneyPerDay"
          name="moneyPerDay"
          class="form-control-range"
          id="moneyPerDay"
        />
      </div>
    </div>
  </div>
  <!--BOTÓN SUBMIT - SIGNUP-->
  <div class="row">
    <div class="form-group text-center">
      <div class="col">
        <button [ngClass]="{
          dyslexia: dyslexia,
          spacing:spacing
        }"
          class="btn btn-primary float-center my-5 boton"
          type="submit"
          (click)="enviaObjetivos()"
          [ngClass]="{
            biggerCursor: cursor,
            spacing:spacing
          }"
        >
          Sign up
        </button>
      </div>
    </div>
  </div>
</form>
