@import url("https://fonts.googleapis.com/css2?family=Cinzel&family=Federo&family=Quicksand:wght@300&display=swap");

.titulo{
  font-size: 2em;
  font-family: "Titan One", cursive !important;
  font-weight: bold;
  letter-spacing: 3px;
  line-height: 1em;
  text-align: center;
}

.divTituloBotones{
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.divPrincipal{
  margin: auto;
}

.btn {
    width: 330px;
    height: 45px;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #fff;
    background-color:#2b6777;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    margin: 1em;
    }




.btn:hover {
    background-color: #c8d8e4;;
       box-shadow: 0px 15px 20px rgba(119, 29, 0, 0.73);
    color: black;
    transform: translateY(-7px);
    }

    @font-face {
      font-family: "OpenDyslexic3Regular";
      src: local("OpenDyslexic3Regular"), url(../../../assets/fonts/OpenDyslexic-Regular.otf) format("truetype");
    }

    .dyslexia{
      font-family: 'OpenDyslexic3Regular'!important;
      font-weight: normal;
      font-style: normal;
    }

    .biggerCursor{
      cursor: url('../../../assets/cursor(1).png'), auto!important;/*hay imitaciones en cuanto al tamaño de los cursores*/
    }

    .spacing{
      letter-spacing: 3px!important;
    }


    