<div>
  <p class="title text-center mt-5 mb-4" [ngClass]="{ dyslexia: dyslexia, biggerCursor: cursor, spacing: spacing }">Friends</p>
</div>
<!-- <div class="row ml-auto" id="cover">
    <div class="col "></div>
      <form method="get" action="">
        <div class="tb">
          <div class="td"><input type="text" name="busqueda" [(ngModel)]="busqueda" placeholder="Search friend" required></div>
          <div class="td" id="s-cover">
            <button type="submit" (click)="buscarUser()">
              <div id="s-circle"></div>
              <span></span>
            </button>
          </div>
        </div>
      </form>
  </div> -->
<div *ngIf="amigosEncontrados[0] == null">
  <p class="text-center mt-5" [ngClass]="{ dyslexia: dyslexia, biggerCursor: cursor, spacing: spacing }">You don't have friends yet</p>
</div>
<div>
  <div class="grid" *ngIf="existeUsuario">
    <div class="cardcontainer" *ngFor="let j of amigosEncontrados">
      <img *ngIf="j.imageUrl != null; else elseBlock"  src="{{j.imageUrl}}" width="300" height="150" alt="User image"/>
      <ng-template #elseBlock> <img src="https://picsum.photos/300/150" width="300" height="150" alt="placeholder"></ng-template>
      <h1 class="text-center mt-1" [ngClass]="{ dyslexia: dyslexia, biggerCursor: cursor, spacing: spacing }">{{ j.username }}</h1>
      <br />
      <p class="mt-4" [ngClass]="{ dyslexia: dyslexia, biggerCursor: cursor, spacing: spacing }">Name: {{ j.name }}</p>
      <p [ngClass]="{ dyslexia: dyslexia, biggerCursor: cursor, spacing: spacing }">Lastname: {{ j.lastName }}</p>
    </div>
  </div>
</div>
