<div class="container p-3 bg-white">
  <div class="card">
    <div class="card-header text-black-50"><h1>Incidences</h1></div>
    <div class="card-body">
      <p-table [value]="incidencias" class="table-striped">
        <ng-template pTemplate="header">
          <tr>
            <th>Complainant</th>
            <th>Subject</th>
            <th>Comment</th>
            <th>State</th>
            <th>Delete comment</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-incidencias class="centrado">
          <tr>
            <td>{{ incidencias.user.username }}</td>
            <td>{{ incidencias.subject }}</td>
            <td>{{ incidencias.comment.text }}</td>
            <td>
              {{ incidencias.state }}
              <select>
                <option
                  (click)="cambiarEstadoIncidencia(incidencias.id, 'PENDING')"
                >
                  PENDING
                </option>
                <option
                  (click)="
                    cambiarEstadoIncidencia(incidencias.id, 'IN_PROCESS')
                  "
                >
                  IN PROCESS
                </option>
                <option
                  (click)="cambiarEstadoIncidencia(incidencias.id, 'RESULT')"
                >
                  RESULT
                </option>
              </select>
            </td>
            <td>
              <button (click)="deleteComment(incidencias.comment.id)">
                Delete
              </button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
