@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;1,500&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;1,500&family=Titan+One&display=swap");
@font-face {
  font-family: "OpenDyslexic3Regular";
  src: local("OpenDyslexic3Regular"), url(../../../assets/fonts/OpenDyslexic-Regular.otf) format("truetype");
}

* {
  font-family: "Playfair Display", serif;
}

.biggerCursor{
  cursor: url('../../../assets/cursor(1).png'), auto!important;/*hay imitaciones en cuanto al tamaño de los cursores*/
}

.tituloOficial {
  font-family: "Playfair Display", serif;
  font-family: "Titan One", cursive;
  font-size: 80px;
  margin-right: 3em;
  margin-bottom: 0px !important;
  color: #ffffff;
  text-shadow: black 0.1em 0.1em 0.2em;
  padding-top: 0.5em;
}

.derecha {
  margin-left: 4em;
  font-size: 30px;
  padding-bottom: 1em;
  color: #ffffff;
  text-shadow: black 0.1em 0.1em 0.2em;
  padding-top: 1.2em;
}

.contenedor {
  background-color: #2b6777;
  height: 140px;
}

.pulmonesdiv {
  width: 80%;
  margin: auto;
  margin-top: 8rem;
}

.pulmones {
  width: 250px;
  margin: auto;
  display: flex;
  align-content: center;
}

/*IPAD*/
@media screen and (min-width: 769px) and (max-width: 1279px) {
  .pulmones {
    width: 200px;
    margin: auto;
  }
}

/*PANTALLAS*/
@media screen and (min-width: 1279px) {
  .frase {
    font-size: 30px;
    margin-top: 1.8em;
  }
}

/*MOVILES*/
@media screen and (max-width: 769px) {
  .tituloOficial {
    font-family: "Playfair Display", serif;
    font-family: "Titan One", cursive;
    font-size: 60px;
    margin-right: 1em;
    margin-bottom: 0px !important;
    color: #ffffff;
    text-shadow: black 0.1em 0.1em 0.2em;
  }

  .derecha {
    margin-left: 3em;
    font-size: 20px;
    padding-bottom: 1em;
    color: #ffffff;
    text-shadow: black 0.1em 0.1em 0.2em;
  }

  .contenedor {
    background-color: #2b6777;
    height: 110px;
  }
}

.icon2{
  max-width: 35px;
  height: auto;
}

.spacing{
  letter-spacing: 3px;
}

.hide{
  display: none!important;
}

.show{
  display:block;
}

.dyslexia{
  font-family: 'OpenDyslexic3Regular'!important;
  font-weight: normal;
  font-style: normal;
}


.fade-in-text {
display: inline-block;
font-family: Arial, Helvetica, sans-serif;
color: black;
animation: fadeIn linear 1s;
-webkit-animation: fadeIn linear 1s;
-moz-animation: fadeIn linear 1s;
-o-animation: fadeIn linear 1s;
-ms-animation: fadeIn linear 1s;
}

@keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-moz-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-o-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-ms-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}


