<div class="row mb-5" [ngClass]="{
  biggerCursor: cursor,
  spacing: spacing
}" >
  <div class="contenedor text-center mt-2" >
    <p class="tituloOficial" [ngClass]="{
      dyslexia: dyslexia
    }">QUIT IT</p>
    <p class="derecha mb-5" [ngClass]="{
      dyslexia: dyslexia
    }">YOU CAN WIN IF YOU WANT</p>
  </div>

  <!-- ACCESIBILIDAD
  <div class="accesible ml-4">
    <label for="accesibility">Accesibility</label><br>
    <button class="btn" id="accesibility" (click)="dropDown()">
      <img
        src="../../../assets/plus.png"
        alt="Accesibility options"
        class="icon2"
      />
    </button> -->
    <!-- <div
      class="dropdown accesibilidad fade-in-text"
      [ngClass]="{
        hide: !shown
      }"
      id="dropdown"
    >
      <button class="btn" (click)="changeFont('+')" id="font-up">
        Size<sup>+</sup></button
      >&nbsp;
      <button class="btn" (click)="changeFont('-')" id="font-down">
        Size<sup>-</sup></button
      >&nbsp;
      <button class="btn" (click)="dislexiaFriendly()" id="font-down">
        Dyslexia friendly font
      </button>
    </div>
  </div> -->

  <div class="row pulmonesdiv" [ngClass]="{
    biggerCursor: cursor
  }" >
    <div class="col-lg-1 col-md-0 col-sm-0"></div>
    <div class="col-lg-3 col-md-4 col-sm-12">
      <img src="../../../assets/livianos.png" class="pulmones" />
    </div>
    <div class="col-lg-7 col-md-8 mt-3">
      <p class="text-center frase fade-in-text" >
        <i [ngClass]="{
          dyslexia: dyslexia
        }"
          >"Smoking can be an ephemeral, fleeting and momentary pleasure, but
          quitting is a full, continuous and timeless satisfaction”</i
        >
      </p>
    </div>
  </div>


</div>
