@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Dancing+Script&family=Roboto+Serif:wght@100&family=Satisfy&family=Yellowtail&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;1,500&family=Titan+One&display=swap");

@font-face {
  font-family: "OpenDyslexic3Regular";
  src: local("OpenDyslexic3Regular"), url(../../../assets/fonts/OpenDyslexic-Regular.otf) format("truetype");
}

.dyslexia{
  font-family: 'OpenDyslexic3Regular'!important;
  font-weight: normal;
  font-style: normal;
}

.get-in-touch {
  max-width: 800px;
  margin: 50px auto;
  position: relative;
}
.get-in-touch .title {
  text-align: center;
  letter-spacing: 3px;
  font-size: 3.2em;
  font-family: "Titan One", cursive;
  font-weight: bold;
  text-shadow: 4px 4px 2px #c8d8e4;
}

.contact-form .form-field {
  position: relative;
  margin: 32px 0;
}

.biggerCursor{
  cursor: url('../../../assets/cursor(1).png'), auto!important;/*hay imitaciones en cuanto al tamaño de los cursores*/
}
.contact-form .input-text {
  display: block;
  width: 100%;
  height: 36px;
  border-width: 0 0 2px 0;
  border-color: #2b6777;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
}
.contact-form .input-text:focus {
  outline: none;
}
.contact-form .input-text:focus + .label,
.contact-form .input-text.not-empty + .label {
  -webkit-transform: translateY(-24px);
  transform: translateY(-24px);
}
.contact-form .label {
  position: absolute;
  left: 20px;
  bottom: 11px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  cursor: text;
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}
.contact-form .submit-btn {
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 16px;
  padding: 8px 16px;
  border: none;
  width: 200px;
  cursor: pointer;
}


/*IPAD*/
@media screen and (min-width: 769px) and (max-width: 1279px) {
  .contact-form .input-text {
    display: block;
    width: 90%;
    height: 36px;
    border-width: 0 0 2px 0;
    border-color: #2b6777;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
    margin: auto;
  }
}

/*MOVILES*/
@media screen and (max-width: 769px) {
  .contact-form .input-text {
    display: block;
    width: 80%;
    height: 36px;
    border-width: 0 0 2px 0;
    border-color: #2b6777;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
    margin: auto;
  }

  .get-in-touch .title {
    text-align: center;
    letter-spacing: 3px;
    font-size: 2.8em;
    font-family: "Titan One", cursive;
    font-weight: bold;
    text-shadow: 4px 4px 2px #c8d8e4;
  }
  .form-field{

  }
}

.row{
  margin-left: 0em !important;
  margin-right: 0em !important;
}

.spacing{
  letter-spacing: 3px;
}
