<app-clock></app-clock>
<div
  class="content mt-3"
  [ngClass]="{ dyslexia: dyslexia, biggerCursor: cursor, spacing: spacing }"
>
  <div class="row justify-content-around" [ngClass]="{
    dyslexia: dyslexia,
    biggerCursor: cursor
  }" >
    <!--COMMUNITY-->
    <div class="card col-md-2 col-11 community text-center" [ngClass]="{
      biggerCursor: cursor
    }"  routerLink="/commentsCommunity">
      <div class="title" [ngClass]="{
        dyslexia: dyslexia,
        biggerCursor: cursor
      }" >Community</div>
      <br />
      <img [ngClass]="{
        dyslexia: dyslexia,
        biggerCursor: cursor
      }"
        src="../../../assets/earth.png"
        alt="imagen de un minicarro de la compra y un ordenador portatil"
        class="img"
      />
    </div>
    <!--MEET UPS-->
    <div class="card col-md-2 col-11 text-center" (click)="goToMeetUps()">
      <div class="title" [ngClass]="{
        dyslexia: dyslexia,
        biggerCursor: cursor
      }" >Meet ups</div>
      <img [ngClass]="{
        dyslexia: dyslexia,
        biggerCursor: cursor
      }"
        src="../../../assets/evento.png"
        alt="imagen de un minicarro de la compra y un ordenador portatil"
        class="img"
      />
    </div>

    <!--RANKING-->
    <div class="card col-md-2 col-11 text-center" routerLink="/rankingCommunity">
      <div class="title" [ngClass]="{
        dyslexia: dyslexia,
        biggerCursor: cursor
      }" >Ranking</div>
      <br />
      <img [ngClass]="{
        dyslexia: dyslexia,
        biggerCursor: cursor
      }"
        src="../../../assets/ranking.png"
        alt="imagen de un minicarro de la compra y un ordenador portatil"
        class="img"
      />
    </div>

    <!--ACHIEVEMENTS-->
    <div class="card col-md-3 col-11 text-center" routerLink="/achievements">
      <div class="title" [ngClass]="{
        dyslexia: dyslexia,
        biggerCursor: cursor
      }" >Achievements</div>
      <img [ngClass]="{
        dyslexia: dyslexia,
        biggerCursor: cursor
      }"
        src="../../../assets/badge.png"
        alt="imagen de un minicarro de la compra y un ordenador portatil"
        class="img2"
      />
    </div>

    <!--PENALTIES-->
    <div class="card col-md-2 col-11 text-center" routerLink="/penalties">
      <div class="title" [ngClass]="{
        dyslexia: dyslexia,
        biggerCursor: cursor
      }" >Penalties</div>
      <img [ngClass]="{
        dyslexia: dyslexia,
        biggerCursor: cursor
      }"
        src="../../../assets/red-card.png"
        alt="imagen constituida con fragmentos de diferentes elementos como un ordenador, un minicarro de la compra, dinero y un cartel luminoso"
        class="img"
      />
    </div>
  </div>

  <div class="row justify-content-around"></div>
</div>

<app-floating-button ubicacion="User area"></app-floating-button>
