<div class="card container p-3 bg-white">
  <p-tabView>
    <p-tabPanel header="All">
      <div class="container p-4 bg-white">
        <p-table #dt [value]="meetUps" dataKey="id" [rows]="10" [showCurrentPageReport]="true"
          [rowsPerPageOptions]="[10,25,50]" [loading]="!carga" styleClass="p-datatable-customers p-datatable-gridlines"
          [paginator]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
          [globalFilterFields]="['name','type','date','doing','place']">
          <ng-template pTemplate="caption">
            <div class="p-d-flex">
              <div style="text-align: right">
                <i class="pi pi-search" style="margin:4px 4px 0 0"></i>
                <input pInputText type="text" (input)="applyFilterGlobal($event, 'contains', dt)" placeholder="Search" size="30" style="width:auto" />
            </div>
            </div>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th pSortableColumn="name">
                <div class="p-d-flex p-jc-between p-ai-center">
                  Name
                  <p-sortIcon field="name"></p-sortIcon>
                </div>
              </th>
              <th pSortableColumn="type">
                <div class="p-d-flex p-jc-between p-ai-center">
                  Type
                  <p-sortIcon field="type"></p-sortIcon>
                </div>
              </th>
              <th pSortableColumn="date">
                <div class="p-d-flex p-jc-between p-ai-center">
                  Date
                  <p-sortIcon field="date"></p-sortIcon>
                </div>
              </th>
              <th pSortableColumn="attendace">
                <div class="p-d-flex p-jc-between p-ai-center">
                  Attendace
                  <p-sortIcon field="attendace"></p-sortIcon>
                </div>
              </th>
              <th pSortableColumn="place">
                <div class="p-d-flex p-jc-between p-ai-center">
                  Place
                  <p-sortIcon field="place"></p-sortIcon>
                </div>
              </th>
              <th pSortableColumn="choice">
                <div class="p-d-flex p-jc-between p-ai-center">
                  Choice
                  <p-sortIcon field="choice"></p-sortIcon>
                </div>
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-meetup>
            <tr>
              <td>
                {{meetup.title}}
              </td>
              <td>
                {{meetup.type}}
              </td>
              <td>
                {{ meetup.date | date: 'dd-MM-yyyy' }} {{ meetup.date | date: 'HH:mm' }}
              </td>
              <td>
                {{meetup.assistantsList.length}}
              </td>
              <td>
                {{meetup.place}}
              </td>
              <td>
                <img  src="../../../../assets/meetups/cheque.png" class="img1" (click)="asistenciaMeetUp(meetup.id)"> <img src="../../../../assets/meetups/cancelar.png" class="img2" (click)="noAsistenciaMeetUp(meetup.id)">
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr>
              <td colspan="7">No meet ups found.</td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </p-tabPanel>
    <p-tabPanel header="Going">
      <div class="container p-4 bg-white">
        <p-table #dt [value]="userAttendace" dataKey="id" [rows]="10" [showCurrentPageReport]="true"
          [rowsPerPageOptions]="[10,25,50]" [loading]="!carga" styleClass="p-datatable-customers p-datatable-gridlines"
          [paginator]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
          [globalFilterFields]="['name','type','date','doing','place']">
          <ng-template pTemplate="caption">
            <div class="p-d-flex">
              <div style="text-align: right">
                <i class="pi pi-search" style="margin:4px 4px 0 0"></i>
                <input pInputText type="text" (input)="applyFilterGlobal($event, 'contains', dt)" placeholder="Search" size="30" class="buscador"/>
            </div>
            </div>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th pSortableColumn="name">
                <div class="p-d-flex p-jc-between p-ai-center">
                  Name
                  <p-sortIcon field="name"></p-sortIcon>
                </div>
              </th>
              <th pSortableColumn="type">
                <div class="p-d-flex p-jc-between p-ai-center">
                  Type
                  <p-sortIcon field="type"></p-sortIcon>
                </div>
              </th>
              <th pSortableColumn="date">
                <div class="p-d-flex p-jc-between p-ai-center">
                  Date
                  <p-sortIcon field="date"></p-sortIcon>
                </div>
              </th>
              <th pSortableColumn="attendace">
                <div class="p-d-flex p-jc-between p-ai-center">
                  Attendace
                  <p-sortIcon field="attendace"></p-sortIcon>
                </div>
              </th>
              <th pSortableColumn="place">
                <div class="p-d-flex p-jc-between p-ai-center">
                  Place
                  <p-sortIcon field="place"></p-sortIcon>
                </div>
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-meetup>
            <tr>
              <td>
                {{meetup.title}}
              </td>
              <td>
                {{meetup.type}}
              </td>
              <td>
                {{ meetup.date | date: 'dd-MM-yyyy' }} {{ meetup.date | date: 'HH:mm' }}
              </td>
              <td>
                {{meetup.assistantsList.length}}
              </td>
              <td>
                {{meetup.place}}
              </td>
              <td>
                <img  src="../../../../assets/meetups/cheque.png" class="img1" (click)="asistenciaMeetUp(meetup.id)"> <img src="../../../../assets/meetups/cancelar.png" class="img2" (click)="noAsistenciaMeetUp(meetup.id)">
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr>
              <td colspan="7">No meet ups found.</td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </p-tabPanel>
    <p-tabPanel header="Not going">
      <div class="container p-4 bg-white">
        <p-table #dt [value]="userNotAttendace" dataKey="id" [rows]="10" [showCurrentPageReport]="true"
          [rowsPerPageOptions]="[10,25,50]" [loading]="!carga" styleClass="p-datatable-customers p-datatable-gridlines"
          [paginator]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
          [globalFilterFields]="['name','type','date','doing','place']">
          <ng-template pTemplate="caption">
            <div class="p-d-flex">
              <div style="text-align: right">
                <i class="pi pi-search" style="margin:4px 4px 0 0"></i>
                <input pInputText type="text" (input)="applyFilterGlobal($event, 'contains', dt)" placeholder="Search" size="30" style="width:auto" />
            </div>
            </div>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th pSortableColumn="name">
                <div class="p-d-flex p-jc-between p-ai-center">
                  Name
                  <p-sortIcon field="name"></p-sortIcon>
                </div>
              </th>
              <th pSortableColumn="type">
                <div class="p-d-flex p-jc-between p-ai-center">
                  Type
                  <p-sortIcon field="type"></p-sortIcon>
                </div>
              </th>
              <th pSortableColumn="date">
                <div class="p-d-flex p-jc-between p-ai-center">
                  Date
                  <p-sortIcon field="date"></p-sortIcon>
                </div>
              </th>
              <th pSortableColumn="attendace">
                <div class="p-d-flex p-jc-between p-ai-center">
                  Attendace
                  <p-sortIcon field="attendace"></p-sortIcon>
                </div>
              </th>
              <th pSortableColumn="place">
                <div class="p-d-flex p-jc-between p-ai-center">
                  Place
                  <p-sortIcon field="place"></p-sortIcon>
                </div>
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-meetup>
            <tr>
              <td>
                {{meetup.title}}
              </td>
              <td>
                {{meetup.type}}
              </td>
              <td>
                {{ meetup.date | date: 'dd-MM-yyyy' }} {{ meetup.date | date: 'HH:mm' }}
              </td>
              <td>
                {{meetup.assistantsList.length}}
              </td>
              <td>
                {{meetup.place}}
              </td>
              <td>
                <img  src="../../../../assets/meetups/cheque.png" class="img1" (click)="asistenciaMeetUp(meetup.id)"> <img src="../../../../assets/meetups/cancelar.png" class="img2" (click)="noAsistenciaMeetUp(meetup.id)">
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr>
              <td colspan="7">No meet ups found.</td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </p-tabPanel>
  </p-tabView>
</div>