
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;1,500&family=Titan+One&display=swap");


.contenedor{
    margin-left: 5rem;
    margin-right: 5rem;
    border-radius: 10px;
    padding:2rem;
}

h1{
    text-align:  center;
    font-family: "Titan One", cursive;
    font-size: 35px;
}

.icon2{
  max-width: 30px;
  height: auto;
}

th, td{
  font-size: 24px;
}


@font-face {
  font-family: "OpenDyslexic3Regular";
  src: local("OpenDyslexic3Regular"), url(../../../assets/fonts/OpenDyslexic-Regular.otf) format("truetype");
}

.dyslexia{
  font-family: 'OpenDyslexic3Regular'!important;
  font-weight: normal;
  font-style: normal;
}

.biggerCursor{
  cursor: url('../../../assets/cursor(1).png'), auto!important;/*hay imitaciones en cuanto al tamaño de los cursores*/
}

.spacing{
  letter-spacing: 3px!important;
}
