<div class="card text-center cardContainer">
  <div class="card-header"></div>
  <div class="card-body">
    <div id="contenedorDeMensajes" class="contenedorDeMensajes" #scrollBottom>
      <div [ngClass]="{ dyslexia: dyslexia, biggerCursor: cursor, spacing: spacing }"
        *ngFor="let i of comentarios"
        class="enviado p-2 msj"
        [ngClass]="user.username == i.user.username ? 'enviado' : 'recibido'"
      >
        <label [ngClass]="{ dyslexia: dyslexia, biggerCursor: cursor, spacing: spacing }" class="username">{{ i.user.username }}:</label> <br />
        <label [ngClass]="{ dyslexia: dyslexia, biggerCursor: cursor, spacing: spacing }" class="comentarioUser">{{ i.text }}</label>
      </div>
    </div>
    <form
      (ngSubmit)="crearComentario()"
      class="row text-center"
      autocomplete="off"
      #miFormulario="ngForm"
      autocomplete="off"
    >
      <div
        class=" card-footer text-muted input-group"
      >
        <div class="row textoContainer">
          <input [ngClass]="{ dyslexia: dyslexia, biggerCursor: cursor, spacing: spacing }"
            type="text"
            [(ngModel)]="text"
            name="text"
            id="text"
            class="form-control texto"
            placeholder=" *Your comment"
            required="required"
          />

          <button [ngClass]="{ dyslexia: dyslexia, biggerCursor: cursor, spacing: spacing }"
            type="submit"
            [disabled]="miFormulario.invalid"
            class="btn send"
          >
            Send
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
