<div class="row" [ngClass]="{ dyslexia: dyslexia, biggerCursor: cursor, spacing: spacing }">
  <section class="get-in-touch">
    <h1 class="title" [ngClass]="{ dyslexia: dyslexia, biggerCursor: cursor, spacing: spacing }">Change your password!</h1>

    <form
      class="contact-form row formulario"
      autocomplete="off"
      [formGroup]="miFormulario"
      (ngSubmit)="submitFormulario()"
      class="m-4"
    >
      <!-- Current password -->
      <div class="row margin  column">
        <div class="form-group col-md-6 campos">
          <input [ngClass]="{ dyslexia: dyslexia, biggerCursor: cursor, spacing: spacing }"
            type="password"
            placeholder="*Current password"
            class="form-control"
            debounce="3000"
            formControlName="password"
            id="password"
            class="input-text js-input"
          />
          <span [ngClass]="{ dyslexia: dyslexia, biggerCursor: cursor, spacing: spacing }" class="form-text text-danger" *ngIf="campoNoValido('password')">
            {{ actuallypasswordError }}
          </span>
        </div>
        <div class="row">
          <div class="col-md-6"></div>
        </div>
      </div>
        <!--  new password -->
        <div class="row margin column ">
          <div class="form-group col-md-4 newPassword campos" >
            <input [ngClass]="{ dyslexia: dyslexia, biggerCursor: cursor, spacing: spacing }"
              type="password"
              placeholder="*New password"
              class="form-control"
              formControlName="password2"
              id="password2"
              class="input-text js-input"
            />
            <span [ngClass]="{ dyslexia: dyslexia, biggerCursor: cursor, spacing: spacing }"
              class="form-text text-danger"
              *ngIf="campoNoValido('password2')"
            >
              {{ passwordError }}
            </span>
          </div>
          <br>
          <!-- Password2 -->
          <div class="form-group col-md-4 campos">
            <input [ngClass]="{ dyslexia: dyslexia, biggerCursor: cursor, spacing: spacing }"
              type="password"
              placeholder="*Confirm password"
              class="form-control"
              formControlName="password3"
              id="password3"
              class="input-text js-input"
            />
            <span [ngClass]="{ dyslexia: dyslexia, biggerCursor: cursor, spacing: spacing }"
              class="form-text text-danger"
              *ngIf="campoNoValido('password3')"
            >
              Both passwords must be equal.
            </span>
          </div>
        </div>
        <!--Submit-->
        <div class="text-center">
          <button [ngClass]="{ dyslexia: dyslexia, biggerCursor: cursor, spacing: spacing }"
            class="btn btn-primary float-center my-5 boton"
            type="submit"
            [disabled]="miFormulario.get('password2')?.errors! || miFormulario.get('password3')?.errors! || miFormulario.get('password')?.errors!['passwordCogido'] != true"
          >
            Change
          </button>
        </div>

    </form>
  </section>
</div>
