@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Dancing+Script&family=Roboto+Serif:wght@100&family=Satisfy&family=Yellowtail&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;1,500&family=Titan+One&display=swap");


.img{
    width: 40px;
    margin-left: 10px;
}

.newGroup{
    float: right;
    margin-right: 3em;
    position: relative;
}
.title {
    text-align: center;
    letter-spacing: 3px;
    font-size: 2em;
    font-family: "Titan One", cursive;
    font-weight: bold;
    text-shadow: 4px 4px 2px #c8d8e4;
  }

  .boton{
    background-color: #52ab98 ;
    }

.noGroups{
  text-align: center;
  margin-top: 8rem;
}

.icon {
  max-width: 30px;
  height: auto;
  border-radius: 50%;
}

.icon2{
  max-width: 35px;
  height: auto;
}

.addMember{
  border-radius: 5%;
}

.username:hover{
  cursor: pointer;
}

.letraAmigo{
  font-size: 20px;
}
.centrar{
  margin:auto;
  display:block;
}


.grupo{
  margin-left: 0!important;
  padding-left: 0!important;
  margin-right: 0!important;
  padding-right: 0!important;
}

.vistaGrupo{
  background-color: #c8d8e4;
  padding: 3rem ;
}

.cardMember{
  background-color: #f2f2f2;
}



.group{
  padding: 2rem;
  background-color: #2b6777;
}

.group:hover{
  background-color: #c8d8e4;
  cursor: pointer;
}

@font-face {
  font-family: "OpenDyslexic3Regular";
  src: local("OpenDyslexic3Regular"), url(../../assets/fonts/OpenDyslexic-Regular.otf) format("truetype");
}

.dyslexia{
  font-family: 'OpenDyslexic3Regular'!important;
  font-weight: normal;
  font-style: normal;
}

.biggerCursor{
  cursor: url('../../assets/cursor(1).png'), auto!important;/*hay imitaciones en cuanto al tamaño de los cursores*/
}

.spacing{
  letter-spacing: 3px!important;
}

.tt{
  cursor: pointer;
}


/*MOVILES*/
@media screen and (max-width: 769px) {
    .izquierda{
    float: left;
  }

  .boton{
    background-color: #52ab98 ;
    align-items: center;
    }

    .form{
      margin: 1rem 1rem;
    }

    input:not([type = "checkbox"]){
      width:100%;
    }

      .form-group{
      margin-left: 0!important;
      margin-right: 0!important;
    }

}



/*IPAD*/
@media screen and (min-width: 769px) and (max-width: 1279px) {
  form{
    margin: 2rem 8rem;
  }
  .conjuntoGrupo{
    margin: auto 7rem;
  }
 }

 /*PANTALLAS*/
 @media screen and (min-width: 1279px) {
  form{
    margin: 2rem 8rem;
  }
  .conjuntoGrupo{
    margin: auto 7rem;
  }
 }


