<div [ngClass]="{ dyslexia: dyslexia, biggerCursor: cursor, spacing: spacing }">
  <div class="row">
    <h3 class="title" [ngClass]="{ dyslexia: dyslexia, biggerCursor: cursor, spacing: spacing }">My groups</h3>
    <!--Create group-->
    <div class="mt-5">
      <button class="btn boton text-center newGroup" (click)="crearGroup()" [ngClass]="{ dyslexia: dyslexia, biggerCursor: cursor, spacing: spacing }">
        Create group
      </button>
    </div>
    <div *ngIf="crear">
      <!--Formulario de creación de grupos-->
      <form class="form" autocomplete="off" [formGroup]="myForm">
        <!--GROUP NAME-->
        <div class="form-group">
          <label for="groupName" class="izquierda" [ngClass]="{ dyslexia: dyslexia, biggerCursor: cursor, spacing: spacing }">Group name</label>
          <input [ngClass]="{ dyslexia: dyslexia, biggerCursor: cursor, spacing: spacing }"
            type="text"
            class="form-control"
            id="groupName"
            formControlName="groupName"
            name="groupName"
            placeholder="Enter a group name"
          />
          <span [ngClass]="{ dyslexia: dyslexia, biggerCursor: cursor, spacing: spacing }"
            class="form-text text-danger"
            *ngIf="campoNoValido('groupName')"
          >
            {{ groupNameError }}
          </span>
        </div>
        <!--Añade miembros a los grupos-->

        <div
          class="row mt-4 p-0 m-0"
          *ngIf="
            !this.myForm.get('groupName')?.invalid &&
            this.myForm.get('groupName')?.value != null
          "
        >
          <!--MEMBER NAME-->
          <div class="form-group grupo">
            <label for="memberName" [ngClass]="{ dyslexia: dyslexia, biggerCursor: cursor, spacing: spacing }">Member name</label>
            <input [ngClass]="{ dyslexia: dyslexia, biggerCursor: cursor, spacing: spacing }"
              type="text"
              class="form-control"
              formControlName="memberName"
              name="memberName"
              placeholder="Enter the username of your friend"
              [value]="myForm.get('memberName')?.value"
              (keyup)="searchFriend()"
            />

            <span [ngClass]="{ dyslexia: dyslexia, biggerCursor: cursor, spacing: spacing }"
              class="form-text text-danger"
              *ngIf="campoNoValido('memberName')"
            >
              {{ memberNameError }}
            </span>
            <span [ngClass]="{ dyslexia: dyslexia, biggerCursor: cursor, spacing: spacing }" class="form-text text-danger" *ngIf="!checkFieldOfFriend()">
              {{ memberAlreadyAdded }}
            </span>
            <!--TABLA DE AMIGOS COINCIDENTES -->
            <table
              class="table table-hover tt"
              *ngIf="
                friendsFound.length > 0 &&
                showTable &&
                myForm.get('memberName')?.value != ''
              "
            >
              <tbody>
                <tr *ngFor="let friend of friendsFound">

                  <td (click)="selectFriend($event)" class="username" [ngClass]="{ dyslexia: dyslexia, biggerCursor: cursor, spacing: spacing }">
                    {{ friend.username }}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <!--MAKE ADMIN - CHECKBOX-->
          <div>
            <input
              type="checkbox"
              class="form-check-input"
              formControlName="admin"
            />
            <label class="form-check-label" for="admin" [ngClass]="{ dyslexia: dyslexia, biggerCursor: cursor, spacing: spacing }">Make admin</label>
          </div>
        </div>
        <!--ADD MEMBER-->
        <div>
          <button [ngClass]="{ dyslexia: dyslexia, biggerCursor: cursor, spacing: spacing }"
            [disabled]="myForm.invalid || memberAlreadyAddedMistake == true"
            class="btn boton mt-4"
            (click)="pushMember()"
          >
            ADD MEMBER
          </button>
        </div>

        <!--SUBMIT-->
        <div class="text-center">
          <button
            type="submit"
            class="btn boton mt-3"
            [disabled]="groupMembers.length < 1"
            (click)="submitForm()" [ngClass]="{ dyslexia: dyslexia, biggerCursor: cursor, spacing: spacing }"
          >
            CREATE
          </button>
        </div>
      </form>
    </div>

    <!--MEMBERS SELECTED-->
    <div>
      <div class="conjuntoGrupo">
        <div
          class="row vistaGrupo justify-content-evenly"
          *ngIf="groupMembers.length > 0"
        >
          <div class="title mb-5">{{ myForm.get("groupName")?.value }}</div>
          <div
            class="card cardMember text-center"
            style="width: 18rem"
            *ngFor="let member of groupMembers"
          >
          <img *ngIf="member.user.imageUrl != null; else elseBlock" class="centrar" src="{{member.user.imageUrl}}" width="300" height="150" alt="User image"/>
          <ng-template #elseBlock> <img src="https://picsum.photos/300/150" width="300" height="150" alt="placeholder" class="centrar"></ng-template>
            <div class="card-body">
              <h5 class="letraAmigo" [ngClass]="{ dyslexia: dyslexia, biggerCursor: cursor, spacing: spacing }">{{ member.user.username }} - {{ member.cargo }}</h5>
              <button class="btn boton" [ngClass]="{ dyslexia: dyslexia, biggerCursor: cursor, spacing: spacing }" (click)="deleteMember(member)">DELETE</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--List group-->
  <div class="mt-4 row">
    <div
      class="row justify-content-around mt-5"
      *ngIf="groups.length > 0; else elseBlock"
    >
      <div
        class="card col-md-9 mb-5 col-lg-5 text-center group p-5"
        *ngFor="let group of groups"
        routerLink="/groupArea/group/{{ group.id }}"
      >
        <div class="title" [ngClass]="{ dyslexia: dyslexia, biggerCursor: cursor, spacing: spacing }">{{ group.name }}</div>
      </div>
    </div>
    <ng-template #elseBlock>
      <div class="noGroups" [ngClass]="{ dyslexia: dyslexia, biggerCursor: cursor, spacing: spacing }">You don't have any group yet.</div>
    </ng-template>
  </div>
</div>
